<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resenha Cultural</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/estilo-admin.css" rel="stylesheet" />
</head>
<body>
@Html.Partial("MenuLateral")
<main>
    @RenderBody()
</main>
@RenderSection("Scripts", false)
</body>
</html>
