<aside>
    <div>
        <h3>Busca</h3>
        <form action="/Home/Busca" class="form-inline">
            <div class="input-group">
                <input name="termo" class="form-control" />
                <span class="input-group-btn">
                    <button class="btn btn-default">OK</button>
                </span>
            </div>
        </form>
    </div>
</aside>
